<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="background full-width">
        <div></div>
    </div>
    <main id="vueContainer">
        <section class="left" :class=" isChatOpen ? 'not-active' : 'active' ">
            <div class="top-bar">
                <div class="user-img-container"> <img src="imgs/avatar_io1.jpg" alt="avatar"> </div>
                <div class="flex-grow"></div>
                <div class="icon-buttons">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
            <div class="notification-status block">
                <div class="bell-container">
                    <i class="fa fa-bell-slash" aria-hidden="true"></i>
                </div>
                <div class="p-10px">
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search-bar p-5px">
                <label class="cursor-pointer" for="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input type="text" placeholder="Cerca o inizia una nuova chat" class="m-10px full-width p-10px"
                    id="search" v-model="searchInput">
            </div>
            <div class="fix scroll">
                <ul class="chat-list">
                    <li v-for="(user,index) of search(searchInput)" :key="user.id" class="chat-preview p-10px" v-if=""
                        @click="setActiveChat(index); chatOpen()" :class=" {'selected' : index == activeChat }">
                        <div class="user-img-container">
                            <img v-bind:src="'imgs/avatar' + user.avatar + '.jpg'" alt="img">
                        </div>
                        <div class="p-10px flex-grow">
                            <h3> {{user.name}} </h3>
                            <div class="last-message"> {{ user.messages[user.messages.length-1].text }} </div>
                        </div>
                        <div class="last-message-hour second-color">
                            12:30
                        </div>

                    </li>
                </ul>
            </div>
        </section>
        <!-- CENTRAL MESSAGES SECTION -->
        <section class="chat-container flex-grow hidden-xs" :class=" isChatOpen ? 'active' : 'not-active' ">
            <div class="top-bar full-width ">
                <div @click="chatClose()" class="back-arrow">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="user-img-container"> <img :src="'imgs/avatar_' + activeChat + '.jpg'" alt="avatar"> </div>
                <div class="flex-grow padding-l-r">
                    <h2 v-if="">{{ usersList[activeChat].name}} </h2>
                    <div> Ultimo accesso oggi alle 17:53</div>
                </div>
                <div class="icon-buttons">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
            <div class="messages-container scroll flex-grow" id="messages-container">
                <ul>
                    <li class="message-block clearfix full-width" v-for="message of usersList[activeChat].messages"
                        :key="message.id">
                        <div class="message p-15px" v-bind:class="message.status">
                            <span> {{ message.text }} </span>
                            <div class="message-time"> {{getTimeHm(message.date)}} </div>
                            <div v-if="message.status=='sent'" class="triangle-sent"></div>
                            <div v-else class="triangle-received"></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="user-type p-10px">
                <div>
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                </div>
                <div class="flex-grow padding-l-r">
                    <input type="text" placeholder="Scrivi un messaggio" class="full-width p-10px" v-model="textInput"
                        @keydown.enter="sendMessage()">
                </div>
                <div>
                    <i class="fa fa-microphone" aria-hidden="true"></i>
                </div>

            </div>
        </section>
    </main>
    <script src="data.js"></script>
</body>

</html>