/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
:root{
    --first-color: ;
    --light-color: ;
    --second-color: ;
    --send-color: ;
    --received-color: ;
}
/* TAGS */
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 85vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 0;

}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
    font-weight: 650;
}
h4{
    font-size: 13px;
    font-weight: 650;
}
/* CLASSES */
.background{
    background-color: #dce0db;
    position: absolute;
    z-index: -1;
    height: 100vh;
}
.background div{
    background-color: #00a093;
    height: 150px;
}
.user-img-container{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.user-img-container img{
    height: 100%;
    border-radius: 50%;
    
}
.left{
    width: 30%;
    min-width: 300px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
}
.top-bar{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #eeeeee;
}
.icon-buttons i{
    color: #6666;
}
.notification-status{
    display: flex;
    align-items: center;
    background-color: #59eeee;
    font-size: 12px;
    font-weight: 600;
}
.bell-container{
    border-radius: 50%;
    background-color: rgb(233, 233, 233);
}
.bell-container i{
    padding: 20px;
    font-size: 15px;
}
.notification-status a{
    display: inline-block;
    margin: 5px 0;
    color: #6794a8;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar input, .user-type input{
    border-radius: 5px;
    border: 0
}
.chat-preview{
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}
.last-message{
    font-size: 15px;
    color: grey;
}
.icon-buttons{
    font-size: 20px;
}
.icon-buttons i{
    margin-left: 5px;
    margin-right: 5px;
}
/* CENTRAL CHAT SECTION */
.back-arrow{
    display: none;
}
.messages-container{
    background-image: url('imgs/mine.jpg');
    padding: 50px;
}
.chat-container{
    display: flex;
    flex-direction: column
}
.message-block
{
    height: auto;
    min-height: 50px;
    border-radius: 15px;
    margin: 10px 0px
}
.message{
    min-width: 75px;
    position: relative;
    max-width: 250px;
    border-radius: 15px;
    padding: 17px 15px;
}
.sent{
    background-color: #DAFAC2;
    float: right;
}
.received{
    background-color: #eeeeee;
    float: left;
}
.message-time{
    position: absolute;
    right: 7px;
    bottom: 5px;
    font-size: 10px;
    color: grey;

}
.user-type{
    display: flex;
    align-items: center;
    background-color: #eeeeee;
}

/* UTILITIES */
.flex-grow{
    flex-grow: 1;
}
.block{
    padding: 5px;
}
.p-5px{
    padding: 5px;
}
.p-10px{
    padding: 10px;
}
.m-10px{
    margin: 10px;
}
.second-color{
    color: grey;
}
.full-width{
    width: 100%;
}
.padding-l-r{
    margin: 0px 15px;
}
.clearfix{
    content: '';
    clear: both;
    display: table;
}
.triangle-sent{
    position: absolute;
    transform: translateX(60%);
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 0;
    border-color: #DAFAC2 transparent transparent transparent;
}
.triangle-received{
    z-index: 0;
    position: absolute;
    transform: translateX(-60%);
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 0;
    border-color: transparent #eeeeee transparent transparent;
}
.scroll{
    overflow-y: scroll;
    overflow-x: hidden;
}
.fix{
    flex-grow: 1;
}
.selected{
    background-color: #d4d4d4e8;
}

/* HOVER */
.chat-preview:hover{
    background-color: #d4d4d4e8;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
@media screen and (max-width:800px) {
    main{
        width: 100vw;
        height: 100vh;
    }
    .hidden-xs{
        display: none;
    }
    .left{
        width: 100%;
    }
    .back-arrow{
        display: block;
    }
    .active{
        display: flex;
    }
    .not-active{
        display: none;
    }
}