/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
:root{
    --first-color: ;
    --second-color: ;
}
/* TAGS */
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 85vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 0;

}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
    font-weight: 650;
}
h4{
    font-size: 13px;
    font-weight: 650;
}
/* CLASSES */
.background{
    background-color: #dce0db;
    position: absolute;
    z-index: -1;
    height: 100vh;
}
.background div{
    background-color: #00a093;
    height: 150px;
}
.user-img-container{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.user-img-container img{
    height: 100%;
    border-radius: 50%;
    
}
.left{
    width: 30%;
    background-color: #eeeeee;
}
.top-bar{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #dce0db;
}
.icon-buttons i{
    color: #6666;
}
.notification-status{
    display: flex;
    align-items: center;
    background-color: #59eeee;
    font-size: 12px;
    font-weight: 600;
}
.bell-container{
    border-radius: 50%;
    background-color: rgb(233, 233, 233);
}
.bell-container i{
    padding: 20px;
    font-size: 15px;
}
.notification-status a{
    display: inline-block;
    margin: 5px 0;
    color: #6794a8;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar input{
    border-radius: 5px;
    border: 0
}
.chat-preview{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}
.last-message{
    font-size: 15px;
    color: grey;
}
.icon-buttons{
    font-size: 25px;
}
.icon-buttons i{
    margin-left: 5px;
    margin-right: 5px;
}
/* CENTRAL CHAT SECTION */
.messages-container{
    background-image: url('imgs/mine.jpg');
}
.chat-container{
    display: flex;
    flex-direction: column
}
.message-block
{
    min-height: 20px;
    border-radius: 15px;
}
.message{
    max-width: 250px;
}
.sent{
    background-color: greenyellow;
    float: right;
}
.received{
    background-color: grey;
    float: left;
}
.message span{
    display: inline-block;
}
/* UTILITIES */
.flex-grow{
    flex-grow: 1;
}
.block{
    padding: 5px;
}
.p-5px{
    padding: 5px;
}
.p-10px{
    padding: 10px;
}
.m-10px{
    margin: 10px;
}
.second-color{
    color: grey;
}
.full-width{
    width: 100%;
}
.padding-l-r{
    margin: 0px 15px;
}
