/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
ul{
    list-style-type: none;
}
:root{
    --first-color: #eeeeee ;
    --write-second-color: #7a7a7a ;
    --sent-color: #d7ffc4 ;
}
/* TAGS */
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 95vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 0;
    box-shadow: 3px 3px 20px #00000049;

}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
    font-weight: 650;
}
h4{
    font-size: 13px;
    font-weight: 650;
}
/* CLASSES */
.background{
    background-color: #dce0db;
    position: absolute;
    z-index: -1;
    height: 100vh;
}
.background div{
    background-color: #00a093;
    height: 150px;
}
.user-img-container{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.user-img-container img{
    height: 100%;
    border-radius: 50%;
    
}
.left{
    width: 30%;
    min-width: 300px;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
}
.top-bar{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
}
.icon-buttons .fa{
    color: #6666;
}
.notification-status{
    display: flex;
    align-items: center;
    background-color: #59eeee;
    font-size: 12px;
    font-weight: 600;
}
.bell-container{
    border-radius: 50%;
    background-color: var(--first-color);
}
.bell-container i{
    padding: 20px;
    font-size: 15px;
}
.notification-status a{
    display: inline-block;
    margin: 5px 0;
    color: #6794a8;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar input, .user-type input{
    border-radius: 5px;
    border: 0
}
.chat-preview{
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.last-message{
    font-size: 15px;
    color: var(--write-second-color);
}
.icon-buttons{
    font-size: 20px;

}
i{
    cursor: pointer;
}
.icon-buttons i{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
/* CENTRAL CHAT SECTION */
.back-arrow{
    display: none;
}
.messages-container{
    background-image: url('imgs/mine.jpg');
    padding: 50px;
    position: relative;
}
.message-menu{
    width: 250px;
    position: absolute;
    background-color: var(--first-color);
    z-index: 3;
    box-shadow: 2px 2px 15px #0000004d;
}
.message-menu div{
    overflow: hidden;
    position: relative;
}
.message-menu i.fa{
    position: absolute;
    top: 7.5px;
    right: 0px;
    transition: transform 0.2s ease-in-out;
    font-size: 20px;
}
.remove, .info{
    padding: 5px 0;
}
.remove i{
    color: rgb(235, 81, 81);
}
.info i{
    color: rgb(83, 83, 195);
}
.chat-container{
    display: flex;
    flex-direction: column;
}
.message-block
{
    height: auto;
    min-height: 50px;
    margin: 10px 0px
}
.message{
    min-width: 75px;
    position: relative;
    max-width: 250px;
    border-radius: 5px;
    padding: 17px 15px;
}
.sent{
    background-color: var(--sent-color);
    float: right;
}
.received{
    background-color: var(--first-color);
    float: left;
}
.message-time{
    position: absolute;
    right: 7px;
    bottom: 5px;
    font-size: 10px;
    color: var(--write-second-color);

}
.option{
    display: none;
    position: absolute;
    top: 0px;
    right: 4px;
    color: grey;
    cursor: pointer;
}
.user-type{
    display: flex;
    align-items: center;
    background-color: var(--first-color);
}
.user-type .fa{
    font-size: 25px;
    color: rgb(100, 100, 100);
}
/* UTILITIES */
.flex-grow{
    flex-grow: 1;
}
.block{
    padding: 5px;
}
.p-5px{
    padding: 5px;
}
.p-10px{
    padding: 10px;
}
.m-10px{
    margin: 10px;
}
.second-color{
    color: var(--write-second-color);
}
.full-width{
    width: 100%;
}
.padding-l-r{
    margin: 0px 15px;
}
.clearfix{
    content: '';
    clear: both;
    display: table;
}
.triangle-sent{
    position: absolute;
    transform: translateX(60%);
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 0;
    border-color: var(--sent-color) transparent transparent transparent;
}
.triangle-received{
    z-index: 0;
    position: absolute;
    transform: translateX(-60%);
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 0;
    border-color: transparent var(--first-color) transparent transparent;
}
.scroll{
    overflow-y: scroll;
    overflow-x: hidden;
}
.fix{
    flex-grow: 1;
}
.selected{
    background-color: #d4d4d4e8;
}
.cursor-pointer{
    cursor: pointer;
}
.yellow-message{
    background-color: rgb(255, 238, 183);
    text-align: center;
    width: auto;
    font-size: 13px;
}
.text-center{
    text-align: center;
}


/* HOVER  AND ACTIVE*/
.chat-preview:hover{
    background-color: #d4d4d4e8;
}
.message:hover .option{
    display: block;
}
a:active, .fa:active{
    color: rgb(128, 186, 240);
}



/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cecece; 
    border-radius: 10px;
  }
@media screen and (max-width:800px) {
    body{
        min-height: -webkit-fill-available;
    }
    main{
        width: 100vw;
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
    .hidden-xs{
        display: none;
    }
    .left{
        width: 100%;
    }
    .back-arrow{
        display: block;
        cursor: pointer;
        padding: 20px;
    }
    .active{
        display: flex;
    }
    .not-active{
        display: none;
    }
    .notification-status{
        display: none;
    }
    .icon-buttons {
        flex-shrink: 0;
    }
    
}

@media screen and (max-width:320px) {
    .icon-buttons {
        flex-shrink: 1;
    }
    
}
